@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Lexend+Deca:wght@100..900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;


@layer {
    .layout {
        @apply mx-auto max-w-[1440px] px-5 xl:px-0
    }
}

:root {
  --bgImageHeroSection: url("/assets/images/bg.webp");
  --bgImageSection4Home: url("/assets/images/Home/topNotch.png");
  --bgImageTestomonialSectionHome: url("/assets/images/Home/ValuableClient/testimonBg.png");
  --bgImageCountriesSectionHome: url("/assets/images/Home/Countries/bgCounty.png");
  --bgImageBusinessSection: url("/assets/images/Home/Business/bg.png");
  --footerBG: url("/assets/images/Footer/bg.png");
  --navAboutModalBG: url("/assets/images/Navbar/About/aboutBg.png");
  --webDesignSectionsBgImage: url("/assets/images/Services/web-design/BGIMAGE.png");
  --achivementSectionBg: url("/assets/images/Services/web-dev/achivementSectionBg.jpg");
  --bgImageSec4Seo: url("/assets/images/Services/SEO/bgImage.png");
  --bgImageSeoServices: url("/assets/images/Services/SEO/seoServices-bgImage.png");
  --bgImageHeroSectionSeo: url("/assets/images/Services/SEO/heroSectionBg.png");
  --bgImageCaseStudiesSec1: url("/assets/images/Case Studies/bgCase.png");
  --bgImageBlogSec1: url("/assets/images/Blogs/hero.webp");
  --bgImageBlogDetailsSec1: url("/assets/images/Blog Details/blogDe.webp");
  --bgImageHeroSectionWixDev: url("/assets/images/Services/wixDev/bgImage.webp");
  --bgImageHeroSectionLandingPage: url("/assets/images/Landing Page/zigZagBG.webp");
  --bgImageTeamLandingPage: url("/assets/images/Landing Page/bg-expert-team.jpg");
  --bgImageReviewsLandingPage: url("/assets/images/Landing Page/bg-reviews.png");
}


::-webkit-scrollbar {
  display: none; /* Safari and Chrome */
} 


* {
  scroll-behavior: smooth;
}
.youtube-player-container {
  position: relative;
}

.loader {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 18px;
  color: #000;
}

.youtube-player.hidden {
  display: none;
}

.customBg::after {
  content: "";
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: url("/assets/images/Services/web-design/bgImageLastSections2.jpg");
  mix-blend-mode: color-dodge;
  opacity: 0.1;
}

.social:hover .bottom {
  top: 0;
}

.custom-shadow {
  box-shadow: 0px 4px 48.5px 0px rgba(255, 255, 255, 0.25);
}

a.flex.z-50.items-center {
  z-index: 999;
}

li {
  z-index: 999;
}

.containers {
  height: 300px;
  width: 100%;
  display: flex;
  overflow: hidden;
}

.containers .image-wrapper {
  position: relative;

  flex: 1;
  margin-right: 10px;
  transition: transform 0.3s ease-in-out, flex 0.5s linear;
}

.containers img {
  height: 100%;
  width: 100%;
  object-fit: cover;

  transition: all 3s cubic-bezier(0.32, 0, 0.67, 0);
  cursor: pointer;
}

.containers .text-overlay {
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  width: 100%;

  color: white;
  display: flex;
  opacity: 0;

  transition: all 0.6s cubic-bezier(0.55, 0, 1, 0.45);
}

.containers .image-wrapper.active {
  border-radius: 5%;
  flex: 4;
}

.containers .image-wrapper.active .text-overlay {
  opacity: 1;
}

.containers h2,
p {
  margin: 0;
}

@media screen and (max-width: 768px) {
  .containers .image-wrapper.active {
    flex-grow: 14;
  }
}
.hidden-scroll::-webkit-scrollbar {
  display: none;
}

.scene .card {
  position: relative;
  color: white;
  cursor: pointer;
  transition: 1s ease-in-out;
  transform-style: preserve-3d;
}

.scene .card-wrapper {
  position: relative;
}

.scene .card-wrapper:hover .card {
  transform: rotateY(0.5turn);
}

.scene .card .card__face {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  transition: 1s ease-in-out;
}

.scene .card .card__face img {
  width: 240px;
  height: 300px;
  -o-object-fit: cover;
  object-fit: cover;
}

.scene .card .card__face--back {
  transform: rotateY(0.5turn);
}

.country {
  width: 0%;
  height: 0%;
  border-radius: 50%;
  position: absolute;
  right: -10%;
  bottom: -15%;
  z-index: 100;
  background-color: rgba(255, 255, 255, 0.075);
  border: 2px solid transparent;
  opacity: 0;
  transition: all 0.5s ease-in-out;
}

.country span {
  color: white;
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 0rem;
  font-weight: 600;
  text-transform: uppercase;
  letter-spacing: 2px;
  text-align: center;
  transition: all 0.5s ease-in-out;
}

.scene .card-wrapper:hover .country {
  width: 150px;
  height: 150px;
  opacity: 1;
  border-color: rgba(255, 255, 255, 1);
  backdrop-filter: blur(10px);
}

.scene .card-wrapper:hover .country span {
  font-size: 1rem;
}

.active {
  border-top: 4px solid #ff6e4e;
  margin-top: -4px;
}
.activeLink {
  color: #ff6e4e;
}

.social:hover .bottom {
  top: 0;
}

.testIt {
  width: 400px;
  height: 90px;
  border: 1px solid #000;
  overflow: hidden;
  line-height: 30px;
  padding: 5px;
  position: relative;
}
.testIt span {
  position: absolute;
  white-space: nowrap;
  text-overflow: ellipsis;
  transform: translateX(0);
  transition: 4s;
}
.idSpan {
  top: 30px;
}

.testIt:hover .scrollTextAni {
  transform: translateX(calc(200px - 100%));
}

@keyframes scrollAnimation {
  0%,
  100% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-20px);
  }
}

.scroll-image {
  animation: scrollAnimation 2s infinite;
}

@media only screen and (max-width: 2500px) {
  .circleText {
    right: 13%;
  }
}

.slick-prev:before,
.slick-arrow,
.slick-next,
.slick-prev,
.slick-next:before {
  display: none !important;
}

.shadow-custom {
  box-shadow: 0 4px 36px #00000020;
}

.customAnimation {
  animation: moveRotateUpDown 2s infinite alternate;
}

.customAnimationForImpact {
  animation: moveUpDown 1.5s infinite alternate;
}
.customAnimationForImpact2 {
  animation: moveUpDown 1.5s infinite alternate-reverse;
}

.customAnimation2 {
  animation: moveRotateUpDown2 2s infinite alternate;
}
.customAnimation3 {
  animation: moveRotateUpDown3 2s infinite alternate;
}
.customAnimation4 {
  animation: rotation 2s infinite alternate;
}

.customAnimation5 {
  animation: horizontalRotation 2s infinite alternate;
}
.customAnimation6 {
  animation: horizontalRotation2 2s infinite alternate;
}
.customAnimation7 {
  animation: horizontalRotation2 1.5s infinite alternate-reverse;
}

/* SEO-AUDIT PAGE START*/
.customAnimation_seo_audit {
  animation: moveRotateUpDownSEO_AUDIT 2s infinite alternate;
}
.customAnimation_seo_audit2 {
  animation: moveRotateUpDownSEO_AUDIT2 2s infinite alternate;
}
.customAnimation_seo_audit3 {
  animation: moveRotateUpDownSEO_AUDIT3 2s infinite alternate;
}

/* SEO-AUDIT PAGE-END */

@keyframes moveUpDown {
  0% {
    transform: translateY(0); /* Start position */
  }
  100% {
    transform: translateY(15px); /* End position */
  }
}

@keyframes moveRotateUpDown {
  0% {
    transform: translateY(0) rotate(-20deg); /* Start position */
  }
  100% {
    transform: translateY(20px) rotate(-20deg); /* End position */
  }
}
@keyframes moveRotateUpDown2 {
  0% {
    transform: translateY(0) rotate(26deg); /* Start position */
  }
  100% {
    transform: translateY(20px) rotate(26deg); /* End position */
  }
}
@keyframes moveRotateUpDown3 {
  0% {
    transform: translateY(0); /* Start position */
  }
  100% {
    transform: translateY(20px); /* End position */
  }
}

/* SEO-AUDIT PAGE ANIMATIONS START */
@keyframes moveRotateUpDownSEO_AUDIT {
  0% {
    transform: translateY(0) rotate(-6deg); /* Start position */
  }
  100% {
    transform: translateY(20px) rotate(-6deg); /* End position */
  }
}
@keyframes moveRotateUpDownSEO_AUDIT2 {
  0% {
    transform: translateX(0) rotate(-18deg); /* Start position */
  }
  100% {
    transform: translateX(20px) rotate(-18deg); /* End position */
  }
}
@keyframes moveRotateUpDownSEO_AUDIT3 {
  0% {
    transform: translateY(0) rotate(12deg); /* Start position */
  }
  100% {
    transform: translateY(20px) rotate(12deg); /* End position */
  }
}
/* SEO-AUDIT PAGE ANIMATIONS END */

@keyframes rotation {
  0% {
    transform: rotate(0deg); /* Start position */
  }
  100% {
    transform: rotate(26deg); /* End position */
  }
}
@keyframes horizontalRotation {
  0% {
    transform: translateX(0); /* Start position */
  }
  100% {
    transform: translateX(20px); /* End position */
  }
}
@keyframes horizontalRotation2 {
  0% {
    transform: translateX(0); /* Start position */
  }
  100% {
    transform: translateX(-50px); /* End position */
  }
}

.progress-bar {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 0;
  background-color: #ff6e4e;
  transition: width 0.5s ease-in;
}

.animatedOrange:hover .progress-bar {
  width: 100%;
  transition: width 2s ease-in;
}
.animatedOrange:hover h3 {
  color: white;
}

.animatedOrange:not(:hover) .progress-bar {
  width: 0;
  transition: width 0.2s;
}
.hover-bright {
  transition: filter 0.3s ease-in-out;
}

.parent:hover .hover-bright {
  filter: saturate(220%) brightness(110%);
}

.parent-readMore:hover .hover-readMore-image {
  filter: saturate(100%) ;
  transition:  0.3s ease-in-out;
  scale: 130%;
}

.parent-readMore:not(:hover) .hover-readMore-image {
  filter: saturate(0%) ;
  transition:  0.3s ease-in-out;
  scale: 100%;
}

.parent-topRated:hover .hover-topRated-image {
  /* filter: saturate(100%) ; */
  transition:  0.7s ease-in-out;
  scale: 120%;
}

.parent-topRated:not(:hover) .hover-topRated-image {
  /* filter: saturate(0%) ; */
  transition:  0.7s ease-in-out;
  scale: 100%;
}

.scale-in-ver-top {
  -webkit-animation: scale-in-ver-top 0.5s cubic-bezier(0.25, 0.46, 0.45, 0.94)
    both;
  animation: scale-in-ver-top 0.5s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
}

@-webkit-keyframes scale-in-ver-top {
  0% {
    -webkit-transform: scaleY(0);
    transform: scaleY(0);
    -webkit-transform-origin: 100% 0%;
    transform-origin: 100% 0%;
    opacity: 1;
  }
  100% {
    -webkit-transform: scaleY(1);
    transform: scaleY(1);
    -webkit-transform-origin: 100% 0%;
    transform-origin: 100% 0%;
    opacity: 1;
  }
}
@keyframes scale-in-ver-top {
  0% {
    -webkit-transform: scaleY(0);
    transform: scaleY(0);
    -webkit-transform-origin: 100% 0%;
    transform-origin: 100% 0%;
    opacity: 1;
  }
  100% {
    -webkit-transform: scaleY(1);
    transform: scaleY(1);
    -webkit-transform-origin: 100% 0%;
    transform-origin: 100% 0%;
    opacity: 1;
  }
}

/* .slick-slide div{
  margin-inline: 20px;
} */
/* .splide__slide .team-card {
  transition: transform  200ms ease-in-out;
  transform: scaleY(0.9);
  transform-origin: center center;
}
.splide__slide.is-active {
  z-index: 3;
  position: relative;
} */
.splide__slide.is-active .team-card .bio {
  background-color: rgba(10, 20, 31, 0.15);
}
/* .splide__slide.is-active .team-card {
  transform: scaleY(1);
  width: 115%;
  margin-left: -7.5%;
} */

@media screen and (min-width: 768px) {
  /* .splide__slide .team-card img {
    width: 290px;
    height: 356px;
  } */
  /* .splide__slide .team-card {
    transform: scaleY(0.8);
  }
  .splide__slide.is-prev {
    z-index: 2;
  }
  .splide__slide.is-prev .team-card {
    transform: scaleY(0.9);
  }
  .splide__slide.is-next {
    z-index: 1;
  }
  .splide__slide.is-next .team-card {
    transform: scaleY(0.9);
  } */
}


/* Valuable Clients Css */
.client-slider-container {
  width: 90%;
  margin: auto;
}


.client-slider-container .slick-current .second-slide {
  border: 2px solid red; 
}

.thumbnail-slide {
  border-radius: 10px;
}
.thumbnail-slide.is-active {
  border:  2px solid red !important;
  border-radius: 10px;
}

.thumbnail-slide img {
  width: 100%;
  cursor: pointer;
  border-radius: 10px;

}

.thumbnail-slide {
  padding: 10px;
}
.slick-list {
  margin: 0 -10px; 
}
.slider-navigation {
  display: flex;
  justify-content: center;
  margin: 10px 0;
}

.slider-button {
  background-color: #007bff;
  color: white;
  border: none;
  padding: 10px 20px;
  margin: 0 5px;
  cursor: pointer;
  border-radius: 5px;
}

.slider-button:hover {
  background-color: #0056b3;
}

/* Achievements Section */
.client-slider-container {
  width: 90%;
  margin: auto;
}

.client-slider-container .slick-current .second-slide {
  border: 2px solid red; 
}

.slider-img {
  border-radius: 10px;
}

.slider-img.is-active {
  border:  2px solid red !important;
  border-radius: 10px;
}

.slider-img img {
  width: 100%;
  cursor: pointer;
  border-radius: 10px;

}

.slider-img {
  padding: 0px;
}

.slick-list {
  margin: 0 -10px; 
}

.slider-navigation {
  display: flex;
  justify-content: center;
  margin: 10px 0;
}

.slider-button {
  background-color: #007bff;
  color: white;
  border: none;
  padding: 10px 20px;
  margin: 0 5px;
  cursor: pointer;
  border-radius: 5px;
}

.slider-button:hover {
  background-color: #0056b3;
}

/*==============================
=            EDITOR            =
==============================*/
/* .editor {
  color: var(--white-1);
} */
/* .editor h2 {
  margin-top: 4rem;
  margin-bottom: 2rem;
  font-size: 2rem;
  font-weight: bold;
  display: block;
  font-family: "DM Sans", "sans-serif";
}

.editor h3 {
  margin-top: 4rem;
  margin-bottom: 2rem;
  font-size: 1.75rem;
  font-weight: bold;
  display: block;
  font-family: "DM Sans", "sans-serif";
} */

.editor h1 {
  font-size: 2em; /* Relative to parent, usually 32px */
  /* margin: 0.67em 0; */
  font-weight: bold;
  display: block;
  font-family: "DM Sans", "sans-serif";

}

.editor h2 {
  font-size: 1.5em; /* Relative to parent, usually 24px */
  /* margin: 0.83em 0; */
  font-weight: bold;
  display: block;
  font-family: "DM Sans", "sans-serif";

}

.editor h3 {
  font-size: 1.17em; /* Relative to parent, usually 18.72px */
  /* margin: 1em 0; */
  font-weight: bold;
  display: block;
  font-family: "DM Sans", "sans-serif";

}

.editor h4 {
  font-size: 1em; /* Relative to parent, usually 16px */
  /* margin: 1.33em 0; */
  font-weight: bold;
  display: block;
  font-family: "DM Sans", "sans-serif";

}

.editor h5 {
  font-size: 0.83em; /* Relative to parent, usually 13.28px */
  /* margin: 1.67em 0; */
  font-weight: bold;
  display: block;
  font-family: "DM Sans", "sans-serif";

}

.editor h6 {
  font-size: 0.67em; /* Relative to parent, usually 10.72px */
  /* margin: 2.33em 0; */
  font-weight: bold;
  display: block;
  font-family: "DM Sans", "sans-serif";

}

@media only screen and (max-width: 1025px) {
  .editor h2 {
    font-size: 2rem;
  }
}
@media only screen and (max-width: 1025px) {
  .editor h3 {
    font-size: 1.8rem;
  }
}
.editor p {
  margin: 1em 0;
  font-family: "Poppins", "sans-serif";
  /* font-weight: 300; */

}
.editor ul,
.editor ol {
  margin: 1em 0;
  margin-left: 2rem;
  margin-right: 0rem;
}
.editor ul li,
.editor ul dt,
.editor ol li,
.editor ol dt {
   margin: 1em 0;

}
.editor dl {
  margin-top: 4rem;
  margin-bottom: 4rem;
}
.editor mark {
  background: var(--red-1);
}
.editor blockquote {
  margin-top: 6rem;
  margin-bottom: 6rem;
  display: block;
  border-width: 2px 0;
  border-style: solid;
  border-color: rgba(var(--white-1), 0.3);
  padding: 1.5rem 0 0.5rem;
  position: relative;
  color: var(--white-1);
}
.editor blockquote:before {
  content: "“";
  position: absolute;
  top: -3rem;
  left: 50%;
  transform: translateX(-50%);
  background: var(--black-2);
  width: 4rem;
  height: 5rem;
  font: 6em/1.08em "PT Sans", sans-serif;
  color: var(--white-1);
  text-align: center;
  display: inline-block;
  z-index: 2;
}
.editor blockquote:after {
  content: "– " attr(cite);
  display: block;
  text-align: right;
  font-size: 0.875em;
}
.editor ul {
  list-style: disc;
}
.editor ul.galeria {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: initial;
  align-content: initial;
  flex-wrap: wrap;
  flex-direction: row;
}
.editor ul.galeria img {
  object-fit: cover;
  height: 100%;
  width: 100%;
}
.editor div.video-shortcode {
  text-align: center !important;
}
.editor img,
.editor figure {
  max-width: 100%;
  height: auto !important;
}
.editor figure {
  display: inline-flex;
  flex-direction: column;
}
.editor figure img {
  width: 100%;
}
.editor a {
  color: var(--white-1);
  text-decoration: underline;
  -webkit-transition: all 0.3s cubic-bezier(0.785, 0.135, 0.15, 0.86);
  -moz-transition: all 0.3s cubic-bezier(0.785, 0.135, 0.15, 0.86);
  -ms-transition: all 0.3s cubic-bezier(0.785, 0.135, 0.15, 0.86);
  -o-transition: all 0.3s cubic-bezier(0.785, 0.135, 0.15, 0.86);
  transition: all 0.3s cubic-bezier(0.785, 0.135, 0.15, 0.86);
  transition-delay: 0s;
}
.editor a:hover {
  color: var(--red-1);
}
.editor figure.align-left {
  float: left;
  margin-right: 2rem;
}
.editor figure.align-right {
  float: right;
  margin-left: 2rem;
}
.editor figure.image img {
  margin: 0;
}
.editor figure.image figcaption {
  margin: 0 0 2rem 0;
  text-align: center;
  background: #eee;
  color: #333;
  font-size: calc(5rem * 0.5);
}
.editor .float-right {
  float: right;
  margin-left: 4rem;
  margin-top: 0rem !important;
  margin-bottom: 2rem;
}
.editor .float-left {
  float: left;
  margin-right: 4rem;
  margin-top: 0rem !important;
  margin-bottom: 2rem;
}
.editor > :first-child {
  margin-top: 0;
}
.editor > :last-child {
  margin-bottom: 0;
}
/*=====  End of EDITOR  ======*/